/*font-family: 'Poppins', sans-serif;

    font-family: 'Roboto Condensed', sans-serif;

    font-family: 'Rubik Dirt', cursive;

    font-family: 'Silkscreen', cursive;

    font-family: 'Teko', sans-serif;*/
h1 {
  font-family: "Teko", sans-serif;
}
p {
  font-family: "Poppins", sans-serif;
}
